@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply w-full min-h-screen bg-slate-300;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    input {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }
}

@layer components {
    .container-form {
        @apply w-11/12 max-w-sm bg-white p-5 rounded-md shadow-md shadow-slate-400 m-auto;
    }
    .input-group {
        @apply flex flex-col gap-3 justify-center relative;
    }
    .input {
        @apply w-full px-2 py-1 outline-1 outline-blue-600 border-2 border-solid rounded-md transition ease-in duration-150 hover:border-blue-600 [&:not(:placeholder-shown)]:border-blue-600;
    }
    .input-error {
        @apply outline-red-500 hover:border-red-500 [&:not(:placeholder-shown)]:border-red-500;
    }
    .placeholder {
        @apply absolute bg-white text-gray-600 cursor-text left-2 peer-focus:text-xs peer-focus:-top-[7px] peer-focus:font-medium peer-focus:text-blue-600 peer-[&:not(:placeholder-shown)]:text-xs peer-[&:not(:placeholder-shown)]:-top-[7px] peer-[&:not(:placeholder-shown)]:font-medium peer-[&:not(:placeholder-shown)]:text-blue-600;
        transition: font-size ease-in .2s;
    }
    .placeholder-error {
        @apply text-red-500 peer-focus:text-red-500 peer-[&:not(:placeholder-shown)]:text-red-500;
    }
    .error-span {
        @apply  text-red-500 font-medium text-sm px-3;
    }
    .button {
        @apply py-2 px-4 rounded text-white cursor-pointer hover:opacity-90 transition-opacity ease-in duration-150;
    }
    .profile-img {
        position: relative;
    }
    .profile-img::before {
        content: 'Cambiar Imagen';
        @apply w-full h-full bg-black bg-opacity-30 absolute top-0 z-10 flex items-center text-white text-xs text-center opacity-0 justify-center;
    }
    .profile-img:hover::before {
        opacity: 1;
    }
    .main {
        height: calc(100vh - 80px);
        position: relative;
        top: 80px;
    }
}
